//Colors

//Colors Base
$be-color-body: #ececec;
$be-color-white: #ffffff;
$be-color-light: #f2f2f2;
$be-color-black: #222222;
$be-color-dark: #242424;

//Color Palette
$be-color-primary: #006036;
$be-color-secondary: #3682f4;
$be-color-success: #2ecd50;
$be-color-warning: #ff920d;
$be-color-danger: #f44336;

//Purple
$be-color-purple-dark: #0e500e;
$be-color-purple-900: #009200;
$be-color-purple-700: #20c00b;
$be-color-purple-500: #1cf415;
$be-color-purple-400: #5dff6b;
$be-color-purple-300: #a2ffa2;
$be-color-purple-100: #deffde;

//Green
$be-color-green-900: #00881e;
$be-color-green-700: #01a825;
$be-color-green-500: #2ecd50;
$be-color-green-400: #75e78d;
$be-color-green-300: #a4ffb8;
$be-color-green-100: #d3ffdc;

//Blue
$be-color-blue-900: #024bb8;
$be-color-blue-700: #3682f4;
$be-color-blue-500: #5f9fff;
$be-color-blue-400: #96c0ff;
$be-color-blue-300: #cadfff;
$be-color-blue-100: #f0f6ff;

//Yellow
$be-color-yellow-900: #ff6b00;
$be-color-yellow-700: #ff920d;
$be-color-yellow-500: #ffb200;
$be-color-yellow-400: #ffd470;
$be-color-yellow-300: #ffe8b4;
$be-color-yellow-100: #fff6e1;

//Red
$be-color-red-900: #e81a0b;
$be-color-red-700: #f44336;
$be-color-red-500: #ff655a;
$be-color-red-400: #ff9087;
$be-color-red-300: #ffada6;
$be-color-red-100: #ffcec3;

//Grayscale
$be-color-gray-900: #242424;
$be-color-gray-700: #484848;
$be-color-gray-500: #727272;
$be-color-gray-400: #969696;
$be-color-gray-300: #d3d3d3;
$be-color-gray-100: #f2f2f2;

$colors: (
  "primary": $be-color-primary,
  "secondary": $be-color-secondary,
  "success": $be-color-success,
  "warning": $be-color-warning,
  "danger": $be-color-danger,
  "white": $be-color-white,
  "dark": $be-color-dark,
  "black": $be-color-black,
  "blue": $be-color-blue-900,
  "green": $be-color-green-900,
  "purple": $be-color-purple-900,
  "red": $be-color-red-900,
  "yellow": $be-color-yellow-900,
  "base-light": $be-color-gray-100,
  "gray": $be-color-gray-700
);
