// Variables font

$be-font-base: 16;
$be-font-size-xxs: 12 / $be-font-base * 1rem;
$be-font-size-xs: 14 / $be-font-base * 1rem;
$be-font-size-s: 16 / $be-font-base * 1rem;
$be-font-size-m: 18 / $be-font-base * 1rem;
$be-font-size-l: 24 / $be-font-base * 1rem;
$be-font-size-xl: 32 / $be-font-base * 1rem;
$be-font-size-xxl: 42 / $be-font-base * 1rem;
