//Defualt size Radius

$be-radius-none: 0px;
$be-radius-xxs: 1px;
$be-radius-xs: 2px;
$be-radius-s: 3px;
$be-radius-m: 4px;
$be-radius-l: 5px;
$be-radius-ml: 8px;
$be-radius-xl: 10px;
$be-radius-xxl: 12px;
$be-radius-circle: 50%;
