// Sizes spacers

// width default content
$be-width-default: 1024px;
$be-width-full: 100%;
$be-width: 944px;

// height navegation
$be-height-navegation: 58px;

// Scale paddings
$be-p-none: 0;
$be-p-xxs: 4px;
$be-p-xs: 8px;
$be-p-s: 14px;
$be-p-m: 16px;
$be-p-l: 24px;
$be-p-xl: 32px;
$be-p-xxl: 64px;

// Scale Margins
$be-m-none: 0;
$be-m-xxs: 4px;
$be-m-xs: 8px;
$be-m-s: 14px;
$be-m-m: 16px;
$be-m-l: 24px;
$be-m-xl: 32px;
$be-m-xxl: 64px;

// Scale Border-width
$be-bd-none: 0px;
$be-bd-xxs: 1px;
$be-bd-xs: 2px;
$be-bd-s: 3px;
$be-bd-m: 4px;
$be-bd-l: 5px;
$be-bd-xl: 10px;
$be-bd-xxl: 12px;


//Input 
$be-input-height: 40px;