//Definição de Fontes do sistema

//codepoints https://github.com/google/material-design-icons/blob/master/iconfont/codepoints
// http://materialdesignicons.com/cdn/3.6.95/
@font-face {
  font-family: MaterialIcons;
  font-weight: 700;
  font-display: block;
  src: url(https://materialdesignicons.com/cdn/3.6.95/fonts/materialdesignicons-webfont.woff2?v=3.6.95) format("woff2");
}

//Open Sans
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");

//Fonts Family Defualt
$be-font-text: Open Sans;
$be-font-title: Open Sans;
$be-font-icons: MaterialIcons;
