.border{
  border-width: $be-bd-none;
  border-style: solid;
  border-color:transparent;
}

@each $item, $value in $colors {
  .be-bl-#{$item} {
    @extend .border;
    border-left-width: $be-bd-xl;
    border-left-color: #{$value};
  }
  .be-br-#{$item} {
    @extend .border;
    border-right-width: $be-bd-xl;
    border-right-color: #{$value};
  }
  .be-bt-#{$item} {
    @extend .border;
    border-top-width: $be-bd-xl;
    border-top-color: #{$value};
  }
  .be-bb-#{$item} {
    @extend .border;
    border-bottom-width: $be-bd-xl;
    border-bottom-color: #{$value};
  }
  .be-b-#{$item} {
    @extend .border;
    border-width: $be-bd-xl;
    border-color: #{$value};
  }
}
