$col-gutter: 16px;
$columns: 12;
$col-max: 1004px;

[class*="be-col-"] {
  float: left;
  padding: 0 $col-gutter;
  margin-bottom: $be-m-l;
}

@for $i from 1 through $columns {
  .be-col-#{$i} {
    width: 100% / $columns * $i !important;
  }
}

@for $i from 1 through $columns {
  @each $name, $value in $breakpoint {
    @include viewport(#{$name}) {
      .be-col-#{$name}-#{$i} {
        width: 100% / $columns * $i !important;
      }
    }
  }
}

.d-flex {
  @include d-flex;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
