//Font from Titles
%be-font-title {
  font-family: $be-font-title;
  font-weight: bolder;
}

%be-font-text {
  font-family: $be-font-text;
  font-weight: normal;
}

%be-pm-0 {
  padding: $be-m-none;
  margin: $be-m-none;
}

%be-mc {
  margin: $be-m-none auto;
}
