//Marigins e spacers

//Auxiares de width

.be-w-25 {
  width: 25%;
}
.be-w-50 {
  width: 50%;
}
.be-w-75 {
  width: 75%;
}
.be-w-100 {
  width: $be-width-full;
}

@for $i from 0 through 6 {
  .be-px-#{$i} {
    padding-left: $i * $be-m-xs !important;
    padding-right: $i * $be-m-xs !important;
  }
  .be-py-#{$i} {
    padding-top: $i * $be-m-xs !important;
    padding-bottom: $i * $be-m-xs !important;
  }
  .be-p-#{$i} {
    padding: $i * $be-m-xs !important;
  }
  .be-pt-#{$i} {
    padding-top: $i * $be-m-xs !important;
  }
  .be-pb-#{$i} {
    padding-bottom: $i * $be-m-xs !important;
  }
  .be-pr-#{$i} {
    padding-right: $i * $be-m-xs !important;
  }
  .be-pl-#{$i} {
    padding-left: $i * $be-m-xs !important;
  }

  .be-mx-#{$i} {
    margin-left: $i * $be-m-xs !important;
    margin-right: $i * $be-m-xs !important;
  }
  .be-my-#{$i} {
    margin-top: $i * $be-m-xs !important;
    margin-bottom: $i * $be-m-xs !important;
  }
  .be-m-#{$i} {
    margin: $i * $be-m-xs !important;
  }
  .be-mt-#{$i} {
    margin-top: $i * $be-m-xs !important;
  }
  .be-mb-#{$i} {
    margin-bottom: $i * $be-m-xs !important;
  }
  .be-mr-#{$i} {
    margin-right: $i * $be-m-xs !important;
  }
  .be-ml-#{$i} {
    margin-left: $i * $be-m-xs !important;
  }
}
