@mixin transition {
  transition-delay: 50ms;
  transition-duration: $timeTransition;
  transition-property: background, border, margin, padding, transform, color, font-size;
  transition-timing-function: ease-in;
}

@mixin viewport($size) {
  @each $name, $value in $breakpoint {
    @if $name == $size {
      @if $name == "xl" {
        @media only screen and (min-width: #{$value}px) {
          @content;
        }
      } @else {
        @media only screen and (max-width: #{$value}px) {
          @content;
        }
      }
    }
  }
}

@mixin shadow($type: card) {
  @if $type == card {
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.05);
  } @else if $type == button {
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.04), 0 3px 6px rgba(0,0,0,.1);
  } @else {
    box-shadow: 0 3px 6px rgba(158, 106, 106, 0.04);
  }
}

@mixin d-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin animated($function, $mode: both, $direction: normal, $iteration: initial) {
  animation-name: #{$function};
  animation-duration: #{$timeAnimated};
  animation-direction: #{$direction};
  animation-fill-mode: #{$mode};
  animation-iteration-count: $iteration;
  animation-timing-function: ease-in;
}
