//Input tag trasition property name="slide-fade"
.slide-fade-enter-active {
  transition: all $timeAnimated ease;
}
.slide-fade-leave-active {
  transition: all $timeAnimated cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

//Trasintions name="be-fade"
.be-fade-enter-active {
  transition: all $timeAnimated ease;
}
.be-fade-leave-active {
  transition: all $timeAnimated cubic-bezier(1, 0.5, 0.8, 1);
}
.be-fade-enter,
.be-fade-leave-to {
  transform: scale(0.99, 0.99);
  opacity: 0;
}

//Trasintions name="be-pop"
.be-pop-enter-active,
.be-pop-leave-active {
  transition: transform $timeAnimated cubic-bezier(0.5, 0, 0.5, 1), opacity $timeAnimated linear;
}

.be-pop-enter,
.be-pop-leave-to {
  opacity: 0;
  transform: scale(0.8) translateY(-50%);
}

//Trasintions name="be-slideup"
.be-slideup-enter-active,
.be-slideup-leave-active {
  transform: translateY(0);
  transition: transform $timeAnimated cubic-bezier(0.5, 0, 0.5, 1), opacity $timeAnimated linear;
}

.be-slideup-enter,
.be-slideup-leave-to {
  transform: translateY(0);
  opacity: 0;
  transform: scale(0.8) translateY(-50%);
}

//Trasintions name="be-slideleft"
.be-slideleft-enter-active,
.be-slideleft-leave-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform $timeAnimated cubic-bezier(0.5, 0, 0.5, 1), opacity $timeAnimated linear;
}

.be-slideleft-enter,
.be-slideleft-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

//Trasintions name="be-fadeup"
.be-fadeup-enter-active,
.be-fadeup-leave-active {
  transform: translateY(0);
  transition: transform $timeAnimated cubic-bezier(0.5, 0, 0.5, 1), opacity $timeAnimated linear;
}

.be-fadeup-enter,
.be-fadeup-leave-to {
  opacity: 0;
  transform: translateY(25px);
}

//Trasintions name="be-fadeup"
.be-slidedown-enter-active,
.be-slidedown-leave-active {
  transform: translateY(0);
  transition: transform $timeAnimated cubic-bezier(0.5, 0, 0.5, 1), opacity $timeAnimated linear;
}

.be-slidedown-enter,
.be-slidedown-leave-to {
  opacity: 0;
  z-index:-$be-level-1;
  transform: translateY(-25px);
}
