//Button Defautl

button {
  -webkit-appearance: none;
  padding: $be-p-s $be-p-m;
  height: 48px;
  text-align: center;
  color: $be-color-gray-500;
  border: $be-bd-xxs solid $be-color-gray-100;
  background: $be-color-white;
  font-weight: 700;
  font-size: $be-font-size-xs;
  border-radius: $be-radius-s;
  @include transition;
  &:hover {
    cursor: pointer;
    background: darken($be-color-white, 5%);
    border-color: darken($be-color-white, 5%);
  }
  &:active {
    outline: none;
  }
  &:focus {
    outline: none;
  }
}
