$be-font-size-xxs: font-size(12);
$be-font-size-xs: font-size(14);
$be-font-size-s: font-size(16);
$be-font-size-m: font-size(18);
$be-font-size-l: font-size(24);
$be-font-size-xl: font-size(32);
$be-font-size-xxl: font-size(42);
