// Input Default
input {
  position: relative;
  height: $be-input-height;
  width: $be-width-full;
  font-family: $be-font-text;
  background: $be-color-white;
  border-radius: $be-radius-s;
  text-align: left;
  padding: $be-p-xs $be-p-m;

  border: solid $be-bd-xs $be-color-gray-100;
  color: $be-color-gray-700;
  @include transition;
  &:focus {
    outline: none;
    border-color: $be-color-primary;
  }
  &::placeholder {
    color: #777777;
  }
  &[type="radio"] {
    width: $be-m-m;
    height: $be-m-m;
  }
}

// Input Group
.be-input-group {
  width: $be-width-full;
  height: auto;
  margin-bottom: $be-m-l;
}
