a,
p,
label,
small,
strong,
legend {
  font-family: $be-font-text;
}

legend {
  font-size: 1rem;
  font-weight: bold;
  color: $be-color-gray-500;
}

a {
  font-size: $be-font-size-s;
  text-decoration: none;
  color: $be-color-gray-500;
  @include transition;
  &:hover {
    color: $be-color-gray-700;
  }
  &:active {
    color: $be-color-primary;
  }
}

ul,
li {
  list-style: none;
  margin: $be-m-none;
  padding: $be-p-none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $be-font-title;
  color: $be-color-primary;
  padding: $be-p-none;
  margin: $be-m-none;
  font-weight: bold;
}

h1 {
  font-size: $be-font-size-xl;
}
h2 {
  font-family: $be-font-text;
  font-size: $be-font-size-l;
}
h3 {
  font-size: $be-font-size-m;
}
h4 {
  font-size: $be-font-size-s;
}
h5 {
  font-size: $be-font-size-xxs;
}
h6 {
  font-size: $be-font-size-xxs;
}

//Label
label {
  @extend %be-pm-0;
  color: $be-color-gray-500;
  text-align: left;
  &.be-label-text {
    display: flex;
    font-size: $be-font-size-xs;
    font-weight: bold;
    padding-left: $be-p-xxs;
    padding-bottom: $be-p-xxs;
    line-height: $be-font-size-xs;
  }
}

.be-page-title {
  padding: $be-p-none;
  margin: $be-m-none;
  margin-bottom: $be-m-xs;
}

button {
  font-family: $be-font-text;
}

small {
  font-size: $be-font-size-xxs;
  color: $be-color-gray-300;
  line-height: $be-font-size-xxs;
  white-space: nowrap;
  &.be-small {
    user-select: none;
    padding-left: $be-p-s;
  }
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

@each $item, $value in $colors {
  .be-text-#{$item} {
    color: #{$value};
  }
}
