.pagination{
    .page-item{
     margin-right: 8px;
     &.active{
       .page-link{
         background:#840bc0;
         border-color:#840bc0;
         color:#fff;
         border:none;
       }
     }
     .page-link{
       padding: 4px 10px;
       font-weight: bold;
       border-radius: 4px;
       align-items:center;
        vertical-align:center;
       transition: all 400ms ease-in-out;
       color:#727272;
       border:none;
       &:hover{
         background: #aa15f4;
         color: #ffffff;
         box-shadow: 0 6px 15px rgba(130, 130, 130, 0.4);
       }
       &:focus{
         outline:none;
         box-shadow: 0 2px 9px rgba(103, 17, 143, .5);
       }
     }
   }
  }